*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#0d1117;

    color:white;

}

.hero{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:linear-gradient(135deg,#0d1117,#161b22);

}

.hero-content{

    max-width:900px;

}

.hero h1{

    font-size:70px;

    margin-bottom:15px;

}

.hero h2{

    font-size:32px;

    color:#58a6ff;

    margin-bottom:20px;

}

.hero p{

    font-size:22px;

    color:#c9d1d9;

    margin-bottom:40px;

}

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.btn{

    text-decoration:none;

    color:white;

    background:#238636;

    padding:15px 35px;

    border-radius:10px;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-5px);

}

.secondary{

    background:#30363d;

}