nav{

    position:fixed;

    width:100%;

    top:0;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    background:#161b22;

}

.logo{

    font-size:24px;

    font-weight:bold;

    color:#58a6ff;

}

nav ul{

    display:flex;

    list-style:none;

    gap:30px;

}

nav a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

nav a:hover{

    color:#58a6ff;

}