* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1117;
    color: white;
}

html{
    scroll-behavior:smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #161b22;
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #58a6ff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: .3s;
    font-size:18px;
}

nav ul li a:hover {
    color: #58a6ff;
}

.hero {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    background: linear-gradient(135deg,#0d1117,#161b22);

}

.hero-content{

    max-width:900px;

}

.hero h1{

    font-size:72px;

    margin-bottom:15px;

}

.hero h2{

    font-size:34px;

    color:#58a6ff;

    margin-bottom:20px;

}

.hero p{

    font-size:24px;

    color:#c9d1d9;

    margin-bottom:40px;

}

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.btn{

    text-decoration:none;

    color:white;

    background:#238636;

    padding:16px 36px;

    border-radius:10px;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-5px);

}

.secondary{

    background:#30363d;

}